<div class="page-body">
	<div class="container-xl">
 		<div class="col-12">
 			<div class="card">
 				<div class="card-body">
 							<h3>Customer</h3><hr class="header-text"/>
 								<div class="row pb-1">
 									<div class="col col-3">
 										<div class="input-icon">
 											<span class="input-icon-addon">
 												<svg class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="10" cy="10" r="7" /><line x1="21" y1="21" x2="15" y2="15" /></svg>
 											</span>
 											<input type="text" name="qcustomerRecords" id="qcustomerRecords" value="<%=param.qcustomerRecords%>" onkeyup="table_lJEiLW.search(event)" data-type="text" data-field='companyname,firstname,lastname' data-operator="like" class="form-control table_lJEiLW-searchFilter" placeholder="Search…" autocomplete="off">
 										</div>
 									</div>
 									<div class="col-auto ms-auto d-print-none">
 										<div class="btn-list">
 											<%if(accessAction.export){%><a href="#" onclick="table_lJEiLW.export()" class="btn btn-outline-secondary d-none d-sm-inline">Export</a><%}%>
 											<%if(accessAction.create){%><a href="/customer/edit" class="btn btn-outline-success d-none d-sm-inline" target="">New Data</a><%}%>
 										</div>
 									</div>
 								</div>
 								<div class="table-responsive">
 									<table class="table card-table table-vcenter text-nowrap datatable table-striped" id="tbl-table_lJEiLW">
 										<thead>
 											<tr>
 												<th>Firstname</th>
												<th>Lastname</th>
												<th>Contact</th>
												<th>Phone</th>
												<th>Email</th>
												<th></th>
												<th></th>
 											</tr>
 										</thead>
 										<tbody>
 										</tbody>
 										<tfoot></tfoot> 
 									</table>
 								

 								<div id="tbl-table_lJEiLW-pagination" class="imple-pagination"></div>
 							</div>
 				</div>
 			</div>
 		</div>
 	</div>
</div>

<%- contentFor('scripts') %>
<script type="text/javascript">
    var accessAction = [];
    var accessActionData = "<%-accessAction%>";
    var dataParam = '<%-JSON.stringify(param)%>';
    var param = {};
    if(dataParam != ""){
      param = JSON.parse('<%-JSON.stringify(param)%>');
    }    
    if(accessActionData != "" && accessActionData != undefined) {
        accessAction = JSON.parse(String.raw `<%-JSON.stringify(accessAction)%>`);
    }
    
    var customerRecords = JSON.parse(String.raw `<%-JSON.stringify(customerRecords)%>`);
    
    var customerRecordsPagination = JSON.parse(String.raw `<%-JSON.stringify(customerRecordsPagination)%>`);
    var table_lJEiLW = new Table_lJEiLW("table_lJEiLW",accessAction);
0

onload = () => {
        table_lJEiLW.render(customerRecords,"");
        table_lJEiLW.pagination(customerRecordsPagination);
}
    
    

</script>